@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    min-width: max-content;
    width: 100%;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-ternary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-ternary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-teritary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 1.4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--orange {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
  color: #fff; }
  .btn--orange::after {
    background-color: #5643fa; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-3px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition .composition__photo--p2 {
      right: 2.5rem;
      top: 2rem; }
    .composition .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition .composition__photo:hover {
      outline: 1.5rem solid #5643fa;
      transform: scale(1.1) translateY(-1.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 0 15rem;
  font-size: 1.5rem; }
  .feature-box__card-1, .feature-box__card-2, .feature-box__card-3, .feature-box__card-4 {
    flex: 1;
    flex-shrink: 0;
    min-width: 24rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .feature-box__card-1 .feature-box__icon, .feature-box__card-2 .feature-box__icon, .feature-box__card-3 .feature-box__icon, .feature-box__card-4 .feature-box__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #ffb900, #ff7730);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .feature-box__card-1:hover, .feature-box__card-2:hover, .feature-box__card-3:hover, .feature-box__card-4:hover {
      transform: scale(1.03) translateY(-1.5rem);
      transition: all .2s; }

.section-tours__card {
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 0 12rem;
  font-size: 1.5rem;
  perspective: 150rem; }
  .section-tours__card .card {
    flex: 1;
    flex-shrink: 0;
    min-width: 24rem;
    height: 51rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease;
    position: relative;
    transform-style: preserve-3d; }
    .section-tours__card .card:hover {
      transform: rotateY(180deg); }
  .section-tours__card .card__side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 2rem;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .section-tours__card .card__side--front {
    transform: rotateY(0);
    background-color: rgba(255, 255, 255, 0.8);
    display: block; }
    .section-tours__card .card__side--front .card__picture {
      height: 20rem;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      margin-bottom: 3rem; }
    .section-tours__card .card__side--front .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/nat-5.jpg); }
    .section-tours__card .card__side--front .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(/img/nat-6.jpg); }
    .section-tours__card .card__side--front .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/nat-7.jpg); }
    .section-tours__card .card__side--front .card_heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      text-align: right;
      top: 12rem;
      right: 2rem;
      width: 75%; }
      .section-tours__card .card__side--front .card_heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone; }
      .section-tours__card .card__side--front .card_heading-span--1 {
        background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.85)); }
      .section-tours__card .card__side--front .card_heading-span--2 {
        background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.85)); }
      .section-tours__card .card__side--front .card_heading-span--3 {
        background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.85)); }
  .section-tours__card .card__side--back {
    transform: rotateY(180deg);
    margin: 0 auto; }
    .section-tours__card .card__side--back .card_cta {
      display: block;
      padding: 4rem; }
      .section-tours__card .card__side--back .card_cta .card_price-box {
        display: block;
        padding: 4rem; }
        .section-tours__card .card__side--back .card_cta .card_price-box .card_price-only {
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.8);
          font-size: 1.5rem;
          align-items: center; }
        .section-tours__card .card__side--back .card_cta .card_price-box .card_price_value {
          font-size: 6rem;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.8); }
  .section-tours__card .card__side--back-1 {
    background: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .section-tours__card .card__side--back-2 {
    background: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .section-tours__card .card__side--back-3 {
    background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .section-tours__card:hover .section-tours__card__side--front {
    transform: rotate(-180deg); }
  .section-tours__card:hover .section-tours__card__side--back {
    transform: rotate(0); }
  .section-tours__card .card_details {
    padding: 2rem; }
    .section-tours__card .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .section-tours__card .card_details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .section-tours__card .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.section-about__columns {
  display: flex;
  justify-content: flex-end;
  gap: 6rem;
  padding: 0 10rem; }
  .section-about__columns .section-about-text-column {
    flex: 1;
    flex-shrink: 0;
    min-width: 20rem; }
  .section-about__columns .section-about-image-column {
    flex: 1;
    flex-shrink: 0;
    min-width: 20rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  background-color: #f7f7f7;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }
