.section-about__columns {
    display: flex;
    justify-content: flex-end;
    gap: 6rem;
    padding: 0 10rem;



    .section-about-text-column {

        flex: 1;
        flex-shrink: 0;
        min-width: 20rem;

    }

    .section-about-image-column {

        flex: 1;
        flex-shrink: 0;
        min-width: 20rem;

    }

    // .section-about-image-column:first-child{
    //     justify-content: flex-start;
    //     margin-left: 4rem;
    //     color: aqua;

    // }
}


